<div class="activity-graph rounded shadow-deep">
  <div>
    <div class="w-100 week-container" [ngStyle]="{ right: 295 * 11 + 'px' }">
      <div class="week" *ngFor="let week of data.weeks">
        <div class="px-4 p-4 h-100">
          <div class="display-week">
            {{ week.displayDate }}
          </div>
          <div class="d-flex pt-3">
            <div class="pr-3 value-separator">
              <div class="value-title text-muted">Distance</div>
              <div class="value-value pt-1">
                {{ week.distance / 1000 + " km" }}
              </div>
            </div>
            <div class="px-3 value-separator">
              <div class="value-title text-muted">Time</div>
              <div class="value-value pt-1">
                {{ week.time }}
              </div>
            </div>
            <div class="pl-3">
              <div class="value-title text-muted">Elevation</div>
              <div class="value-value pt-1">
                {{ week.elevation + " m" }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="px-4 info-container">
      <div class="font-weight-bold text-dark">LAST 12 WEEKS</div>
      <div class="text-muted">
        {{ data.highestWeeklyDistance / 1000 + " km" }}
      </div>
    </div>
  </div>

  <div #graphContainer class="w-100 grid-container">
    <svg #graph></svg>
  </div>
</div>
