.activity-graph {
  height: 280px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}
.activity-graph-shadow {
  box-shadow: rgba(100, 100, 124, 0.25) 0px 6px 12px -2px,
    rgba(156, 156, 156, 0.3) 0px 3px 7px -3px;
}
.activity-graph-component {
  flex: 1 1 auto;
  align-self: auto;
}
