<div class="activity-graph rounded shadow-deep">
  <div class="activity-tabs d-flex">
    <ng-container
      *ngFor="let tab of tabs"
      [ngTemplateOutlet]="tabTmpl"
      [ngTemplateOutletContext]="{ data: tab }"
    ></ng-container>
  </div>
  <div>
    <div class="w-100 week-container" #weekContainer>
      <div class="week" *ngFor="let week of activeData?.weeks">
        <div class="px-4 p-4 h-100">
          <div class="display-week">
            {{ week.displayDate }}
          </div>
          <div class="d-flex pt-3">
            <div class="pe-3 value-separator">
              <div class="value-title text-muted">Distance</div>
              <div class="value-value pt-1">
                {{ weeklyDistance(week.distance) }}
              </div>
            </div>
            <div class="px-3 value-separator">
              <div class="value-title text-muted">Time</div>
              <div class="value-value pt-1">
                {{ week.time }}
              </div>
            </div>
            <div class="ps-3" *ngIf="week.elevation">
              <div class="value-title text-muted">Elevation</div>
              <div class="value-value pt-1">
                {{ week.elevation + " m" }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="px-4 info-container">
      <div class="font-weight-bold text-dark">LAST 12 WEEKS</div>
      <div class="text-muted">
        {{ highestWeeklyDistance }}
      </div>
    </div>
  </div>

  <div #graphContainer class="w-100 grid-container">
    <svg #graph (mousedown)="onClick($event)">
      <linearGradient id="grad1" x1="0%" y1="100%" x2="0%" y2="0%">
        <stop
          offset="0%"
          style="stop-color: rgb(253, 130, 79); stop-opacity: 0.1"
        />
        <stop
          offset="100%"
          style="stop-color: rgb(252, 76, 3); stop-opacity: 0.4"
        />
      </linearGradient>
    </svg>
  </div>
</div>

<ng-template #tabTmpl let-tabData="data">
  <div
    (click)="onTabSelect(tabData.id)"
    class="tab flex-fill centerise h-100"
    [ngClass]="activeTab === tabData.id ? 'tabOn' : 'tabOff'"
  >
    <i class="fas" [ngClass]="tabData.icon"></i>
  </div>
</ng-template>
