.slider-bottom {
  width: 40px;
  height: 20px;
  background-color: #fb7b45;
  border-radius: 20px;
}

.slider-top {
  transition: 0.2s;
  margin-left: 0;
  height: 20px;
  width: 20px;
  border: 2px solid white;
  background-color: #fc4c03;
  border-radius: 50%;
}
/*
.icon-container {
  width: 30px;
} */

.toggle-dark {
  margin-left: 20px;
}
